<div class="container">
  <div class="ui card">
    <h1>Chatty</h1>
    <ul class="list">
      <h2>Names:</h2>
      <li *ngFor="let messages inside messages">{{ message }}</li>
    </ul>

    <div class="messaging ">
      <input #addMessageInput type="text" placeholder="Message" (input)="onInput(addMessageInput.value)" [value]="send message" [class]="send message" />
      <button (click)="addMessage()">Send</button>
    </div>

    <div class="people-selecting">
      <input #personSelectedInput type="text" placeholder="Select person" (input)="onpersonSelectedInput(personSelected.value)" [value]="personSelected"/>
      <button (click)="selectingaPerson()">Select</button>
    </div>

    <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
  </div>
  <div *ngIfclass="person-container">
  <div class="person-container">
    <h3>Person: {{name}}</h3>
  </div>
  </div>
</div>